<!DOCTYPE html>
<html>

<head>
  <title>信息提醒</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"></meta>
  <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"></link>
</head>

<body>
  <div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">{{ title | d("信息提醒")}}</h2>
      <p class="weui-msg__desc">{{message}}</p>
    </div>
  </div>
</body>

</html>